{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">logo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link" href="{% url 'project_page' %}">Projects</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item me-2">
                  <a class="nav-link " href="{% url 'section' %}">Section</a>
                </li>
                <div class="dropdown ">
                  <a class="btn accont_btn p-0 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{user.profile.profile_image.url}}" alt="">
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'profile'  %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'edit_profile' user.id %}">edit profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'project' user.id %}">My Projects</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
                  </ul>
                </div>
              {% else %}
                <li class="nav-item me-2">
                  <a class="nav-link btn btn-primary text-white" href="{% url 'login' %}">login</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link btn btn-primary text-white" href="{% url 'signup' %}">sign up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% block content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>