{% extends 'navbar.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">O'zingiz xaqingizdagi malumotlarni to'ldiring.</h1>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="{{data.profile_image.url}}" alt="">
                    <h1>{{data.name}}</h1>
                    <p>{{data.email}}</p>
                    <p>{{data.tel_nomer}}</p> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}